#panel{
  height: 80px;
  border: 1px solid;
}
#board{
  border: 1px solid;
  
  width: 800px;
  float: left
}

.box{
  border: 1px solid;
  height: 50px;
  width: 40px;
  float: left;
  margin: -1px;
  font-size: 250%;
  text-align: center;
}

#output{
  border: 1px solid;
  float: right;
  width: 35%;
  overflow: hidden;
}
#show{
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
}
#res{
  border: 1px solid;
  height: 500px;
  margin-top: 20px
}
